@tailwind base;
@tailwind components;
@tailwind utilities;


a{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar-thumb{
    background: #10b981;
    border-radius: 50px;
}

*::-webkit-scrollbar{
    width: 10px;

}

*::-webkit-scrollbar-track{
}